*{margin: 0;padding: 0}
html{
	font-size:62.5%;
}
body{
	line-height: 1.5;
	background:#fff;
	font-family: "Open Sans";
}
ul,ol{
	list-style: none;
}
::selection{
	background: #ccc;
}
/*清除浮动*/
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
/*内容居中*/
.center{
	display: block;
	margin-left:auto;
	margin-right:auto;
}







/*111111111111111111111111111111*/
a{
	color:#000;
	text-decoration: none;
}
i{
	margin: 0 0.5rem;
	color: #c6c6c6
}

header{
	box-sizing: border-box;
	
	overflow: hidden;
	
}
header .top{
	background: #333333;
	color: #aaaaaa;
	padding-right: 6.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
    padding-left: 5rem;
    margin-right: auto;
    margin-left: auto;
    display: list-item;
}
header li{
	color: #aaaaaa;

    display: list-item;
}
header a{
	color: #aaaaaa;
}
.to{
	float: right;
	margin: 0 1rem;
}
.tt{
	float: right;
	margin: 0 1rem;
}
.tt ul li{
	float: right;
	margin: 0 0.2rem;
}
.zui{
	float: right;
	margin: 0 1rem;
}
.zui ul li{
	float: right;
	margin: 0 0.4rem;

}
.zui{
	margin: 0 1rem;
	
}
.pio{
	background-color: #000;
	padding: 2rem 7.45rem;
	opacity: .5;
}
.pio img{
	width: 100%;
	height: 100%;
}
.pionl{
	width: 21.8%;
	float: left;
}
.pionr{
	float: right;
	width: 43%;
	padding: 1rem;
	
}
.pionrq{
	color: red;
	float: right;
	width: 7%;
	padding: 1rem;
	
}
.pionr ul li{
	
	float: left;
	margin: 0 1rem;
	
}